<head>
    <% if settings.development? %>
    <script type="module">
        import RefreshRuntime from 'http://localhost:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
    <% else %>
        <script type="module" src="/dist/<%= @manifest['src/main.tsx']['file'] %>"></script>
        <link rel="stylesheet" href="/dist/<%= @manifest['src/main.tsx']['css'][0] %>" />
    <% end %>
</head>

<body>
    <div id="root"></div>
</body>